body{
    background-color: rgb(168, 184, 196);
    color: grey;
    overflow: scroll;
    height: 100vh;
    width:100vw

}
#topsection{
    background-color: white;
    width:100%;
    margin:0px;

}
.pic{
    display: flex;
}
#profilepic1{
    width:50px;
    height:50px;
    border-radius:25px;
    object-fit: cover;
    margin:15px;
    margin-left:50px;
    margin-bottom: 0px;
    transition: 0.1s ease-in-out;
    
}
@keyframes rotate {
    0%{
        transform: scale(1) translate(0,0);
    }
    50%{
        transform: scale(1.5) translate(0,5);
    }
    100%{
        transform: translate(0,8) scale(1.6);
    }
}
#profilepic1:hover{
    transform: translateY(-10px);
    opacity:0.5;
    animation: rotate 3s infinite  ease-in;
    filter: grayscale(50);

}
h2{
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    padding-top: 10px;
    margin-right:850px;

}
#topleft{
    display: flex;
    flex-direction: row;
    color:grey;
    font-size: 1rem;
    padding-top: 10px;
    margin-left:15px;
    align-items: flex-end;
    justify-content: end;
}
p{
    padding-left:25px;
}
.h1style{
    background: linear-gradient(to margin-right,black,white);
    -webkit-background-clip: text;
    color: black;

}
@media screen and (mim-width:400px) {
    homepage{
        width:50%;
    }
    
}
h1:hover{
    animation: rotate 3s  ease-in;
}